//- *****************************************************************************
//- *                                                                           *
//- *    SwirlVPN is free software: you can redistribute it and/or modify       *
//- *    it under the terms of the GNU General Public License as published by   *
//- *    the Free Software Foundation, either version 3 of the License, or      *
//- *    (at your option) any later version.                                    *
//- *                                                                           *
//- *    SwirlVPN is distributed in the hope that it will be useful,            *
//- *    but WITHOUT ANY WARRANTY; without even the implied warranty of         *
//- *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the          *
//- *    GNU General Public License for more details.                           *
//- *                                                                           *
//- *    You should have received a copy of the GNU General Public License      *
//- *    along with SwirlVPN.  If not, see <http://www.gnu.org/licenses/>.      *
//- *                                                                           *
//- *****************************************************************************

extends layout

block content
  p userId:         #{userDetails.userId}
  p Email:          #{userDetails.email}
  p dateActivated:  #{userDetails.activationDate}
  p dateCreated:    #{userDetails.dateCreated}
  p dateLastLogin : #{userDetails.dateLastLogin}
  p invalidPWCount: #{userDetails.invalidPWCount}
  p isActive:       #{userDetails.isActive}
  p bytesPurchased: #{userDetails.bytesPurchasedHR}
  p bytesToClient:  #{userDetails.bytesToClientHR}
  p bytesFromClient: #{userDetails.bytesFromClientHR}



